@charset "utf-8";


* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none;}

.center_wrap {width: 100%; background-color: rgba(0,0,0,.1);}

#header {width: 360px; height: 126px; background: rgba(255,0,0,.1);}

#main_visual {width: 360px; height: 548px; background: rgba(0,255,0,.1);}

#notice {width: 360px; height: 60px; background: rgba(0,0,255,.1);}

#toms_menu {width: 360px; height: 630px; background: rgba(255,0,255,.1) ;}

#toms_about {width: 360px; height: 620px; background: rgba(255,255,0,.1);}

#toms_md {width: 360px; height: 600px; background: rgba(0,255,255,.1);}

#toms_sns {width: 360px; height: 610px; background: rgba(0,255,0,.1);}

#footer {width: 360px; height: 580px; background: rgba(255,0,0,.1);}