@charset "utf-8";

// title text size
$h1: 36px;
$h2: 30px;
$h3: 24px;
$h4: 20px;
$h1_t: 36px;
$h2_t: 30px;
$h3_t: 24px;
$h4_t: 20px;
$h1_d: 36px;
$h2_d: 30px;
$h3_d: 24px;
$h4_d: 20px;

// text size
$f_l: 18px;
$f_m: 15px;
$f_s: 12px;

// font weight
$w_n: 400;
$w_b: 600;

// colors
$bg_white: #f1f1f1;
$main_gray: #9e9e9e;
$sub_gray: #616161;
$point_turquoise: #009688;
$line: #ccc;